<%- layout('./layouts/boilerplate') %>
<br><br>
<h3>All Products</h3>
<div class="p-card-container">
    <% for(let product of AllProducts){ %>
        <div class="p-card">
                <a href="/admin/<%= CurrUser._id %>/products/<%= product._id %>/show" class="p-img-container">  
                    <img src="<%= product.image %> " class=" p-card-img"  alt="">
                 </a>
                <div class="p-card-body">
                  <a href="/admin/<%= CurrUser._id %>/products/<%= product._id %>/show" class="p-card-title" >
                    <h3 class="p-title"><%= product.name %></h3> 
                  </a>
                    <p> &#8377; <%= product.price %></p>
                </div>
       </div>

       <!-- <div class="cart-main">
        <div class="cart">
                <div class="cart-deatail">
                    <p class="p">Image</p>
                    <div class="cart-image"><img src="https://images.unsplash.com/photo-1563729784474-d77dbb933a9e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""></div>
                </div>
                <div class="cart-detail">
                    <p class="p">Product</p>
                    <p>Chocolate Cake</p>

                </div>
                <div class="cart-detail">
                    <p class="p">Price</p>
                    <p>$50.00</p>

                </div>
                <div class="cart-detail">
                    <p class="p">Quntity</p>
                    <p><span class="neg">-</span><span class="c-value">1</span><span class="pos">+</span></p>

                </div>
                <div class="cart-detail">
                    <p class="p">Remove</p>
                    <p class="rem">x</p>

                </div>
                <div class="line"></div>
        </div> -->
  <%  } %>
</div>